.viewer {
    border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  position: relative;
  display: flex;
  width: auto;
flex-direction: column;
background-color: #fff;
}


.react-pdf__Page {
z-index: 1;
}

.page-info {
    font-size: .5rem;
    color: #333;
    font-weight: bold;
  }
  
  .page-info-button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .button-wrapper {
    display: flex; 
    gap: 5%;
  }

.resume-wrapper {
    height: 50vh;
    border: 1px solid red;
  }