.hero-container {
  display: flex;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #eee;
}

.bg-img {
  background-position: 50%;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* BG: #191A1F; secondary: #212027; accent: #12131A */

/* Text: #76767D; */

.headline-wrapper {
  position: absolute;
  z-index: 500;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 75%;
  gap: 1.5rem;
  text-align: center;
}

.hero-header,
.hero-subhead {
  margin: 0;
}

.hero-header {
  font-size: 3.5rem;
}

.hero-subhead {
  letter-spacing: 0.3rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.hero-img-wrapper {
  border: 1px solid green;
  height: 60vh;
  width: 60vh;
  overflow: hidden;
  border-radius: 50%;
}

.main-hero-img {
  height: 100%;
  width: 100%;
}
