.hero-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #666;
  align-items: center;
  justify-content: space-between;
}

.bg-img {
  background-position: 50%;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.hero-img-container {
  margin-top: 5%;
  display: flex;
  z-index: 1;
  gap: 5%;
  height: 100vh;
  align-items: center;
  padding: 0px 5%;
  width: 100%;
  justify-content: space-between;
}



@media screen and (max-width: 830px) {
  .hero-img-container {
    margin-top: 35%;
   }

   .text-wrapper {
    margin-top: 0;
   }
  }

@media screen and (max-width: 650px) {
 #hero1 {
   margin-top: 45%;
  }

}

@media screen and (max-width: 500px) {
  #hero1 {
    margin-top: 50%;
   }
 
 }

 @media screen and (max-width: 430px) {
  #hero1 {
    margin-top: 60%;
   }

   .hero-img-container {
    margin-top: 50%;
   }
 
 }

 @media screen and (max-width: 399px) {
  #hero1 {
    margin-top: 75%;
   }
  }















