.nav-wrapper {
  display: flex;
  justify-content: center;
}

.floating-nav-container {
  position: absolute;
  z-index: 2;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #151318;
}

.nav-link-wrapper {
  margin-left: 5%;
  display: flex;
  gap: 15px;
}

.icon-wrapper {
  display: flex;
  gap: 5px;
}

.iconify.contact-link {
  height: 25px;
  width: 25px;
}

.iconify:hover {
color:#FECD6A;

}


.contact-nav-container {
  color: #C6C6C8;
  display: flex;
  margin-right: 5%;
  justify-content: space-between;
  gap: 25px;
  max-width: 100%;
  align-items: center;
}

.nav-link {
  color: #C6C6C8;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: auto;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    147deg,
    #EDBF63,
    #F0C264,
    #F3C465,
    #F9C968,
    #FCCD6F,
    #FED175,
    #FED582,
    #FED98D
  );
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.mobile-nav-wrapper {
  display: flex;
  z-index: 100;
  position: absolute;
  bottom: 5%;
}

.mobile-scroll-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.mobile-nav-menu {
transition: all 1s ease-in-out;
 display: flex;
 gap: 25px;
 opacity: 1;
 z-index: 300;
 border-radius: 5px;
}

.mobile-nav-menu > .nav-link {
  background-color: rgba(152, 143, 251, .5);
  border-radius: 5px;
  padding: 10px;
}
.hide {
opacity: 0;
}

.iconify.mobile-scroll-icon {
  display: none;
  width: 35px;
  height:35px;
  color: #C6C6C8;
  padding: 5px;
  border-radius: 50%;
  animation-name: bounce;
  -moz-animation-name: bounce;
  cursor: pointer;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 1;
  transition: transform .2s ease-in-out; 
}

.iconify.mobile-scroll-icon:hover {
  color:rgba(152, 143, 251, .60);
 }


@media screen and (max-width: 830px) {
  .mobile-nav-wrapper {
   display: flex;
   width: 100%;
   align-items: center;

  }

  .mobile-nav-wrapper {
    display: flex;
    justify-content: space-between;
  }


  .hover-underline-animation:hover {
    color:rgba(152, 143, 251, .60);
    cursor: pointer;
  }
  
  .hover-underline-animation:hover:after {
   display: none;

  }

}



@media screen and (max-width: 570px) {
.nav-link-wrapper {
display:none;
}



.contact-nav-container {
  width: 100%;
  margin: 0px 5%;
}

.iconify.mobile-scroll-icon {
  display: inline-block;
}


}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
